<div class="dashboard-container">

  <mat-card class="button-container">

    <div class="inside-dashboard-container">

      <button mat-raised-button (click)="connect()" style="width: 50%;">Connect</button>

      <button mat-raised-button (click)="connectionTest()" style="width: 50%; margin-top: 20px;">Check Connection</button>
      
      <button mat-raised-button (click)="killSocket()" style="width: 50%; margin-top: 20px;">Close Connection</button>

      <button mat-raised-button (click)="getTemperature()" style="width: 50%; margin-top: 20px;">Get Temperature</button>

      <button mat-raised-button (click)="setTemperature45()" style="width: 50%; margin-top: 20px;">Set Temperature 45</button>

      <button mat-raised-button (click)="setTemperature55()" style="width: 50%; margin-top: 20px;">Set Temperature 55</button>

      <div class="container-matricola" style="margin-top: 20px;">
        <div>
          <button mat-raised-button (click)="getMatricola()" style="width: 50%; margin-top: 20px;">Get Matricola</button>
        </div>

        <div>
          <mat-card style="font-size: 0.8em; width: 190px; font-weight: bold;">Matricola: <label >{{matricola}} </label> </mat-card>
        </div>
      </div>

      <div class="container-serial-number" style="margin-top: 20px;">
        <div>
          <button mat-raised-button (click)="getSerialNumber()" style="width: 50%; margin-top: 20px;">Get Serial Number</button>
        </div>

        <div>
          <mat-card style="font-size: 0.8em; width: 190px; font-weight: bold;">Serial Number: <label >{{serialNumber}} </label> </mat-card>
        </div>
      </div>

      <div class="container-sw-version" style="margin-top: 20px;">
        <div>
          <button mat-raised-button (click)="swVersionRequest()">Software Version</button>
        </div>

        <div>
          <mat-card style="font-size: 0.8em; width: 190px; font-weight: bold;">SW Version: <label >{{versionString}} </label> </mat-card>
        </div>
      </div>

      </div>

  </mat-card>

</div>
